<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SPM Independent University,Dhaka  </title>
    <link rel="stylesheet" href = "/head.css">
    <link rel="stylesheet" href =  "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>

<body>
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2> <span class="lab la-accusoft"> </span> <span> SPM</span></h2>

    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/Head" class="active"><span class="las la-igloo"></span>
                    <span>Student Performance Monitor</span></a>
            </li>
            <li>
                <a href="/headStudentReport"><span class="las la-clipboard-list"></span>
                    <span> Department Student Report</span></a>
            </li>
            <li>
                <a href="/headMyCourse"><span  class="las la-school"></span>
                    <span> My Courses</span></a>
            </li>
            <li>
                <a href="/headDataEntry"><span  class="las la-database"></span>
                    <span> Data Entry</span></a>
            </li>
            <li>
                <a href="/headCourseReport"><span class="las la-clipboard-list"></span>
                    <span> Department Course Report</span></a>
            </li>

            <li>
                <a href="/headInstructorReport"><span class="las la-chalkboard-teacher"></span>
                    <span> Department Instructor Report</span></a>
            </li>
            <li>
                <a href="/headStudentReport"><span class="las la-download"></span>
                    <span> Downloads</span></a>
            </li>
            <li>
                <a href="/headMyAccount"><span class="las la-user"></span>
                    <span> My Account </span></a>
            </li>
            <li>
                <a href="/login"><span class="las la-sign-out-alt"></span>
                    <span> Sign-Out</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Dashboard
        </h2>
        <div class="user-wrapper">
            <a href="https://ibb.co/ckB79jy"><img src="{{FacultyProfile}}" alt="1505967226-5-Mahady-Hasan"  width="30px" height="30px"></a>
            <div>
                <h4>{{F_fname}} {{F_lName}} </h4>
                <small> {{FacultyID}} </small>
                <small> DEAN, {{DepartmentID}}</small>
            </div>
        </div>
    </header>
    <main>
        <div class="cards">
            GRAPHS
        </div>
        <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3> Program Learning Outcomes (PLO) for Department of CSE</h3>
                        <button> See Courses <span class="las.la-arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <table width="100%">

                            <thead>
                            <tr>
                                <td> PLO1:</td>
                                <td> Knowledge: An ability to select and apply the knowledge, techniques, skills, and modern tools of the
                                    computer science and engineering discipline.</td>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>PLO2:</td>
                                <td>Requirement Analysis: An ability to identify, analyze, and solve a problem by defining the
                                    computing requirements of the problem through effectively gathering of the actual requirements.</td>


                            </tr>
                            <tr>
                                <td> PLO3</td>
                                <td>Problem Analysis: An ability to select and apply the knowledge of mathematics, science,
                                    engineering, and technology to computing problems that require the application of principles and
                                    applied procedures or methodologies.</td>

                            </tr>
                            <tr>
                                <td> PLO4</td>
                                <td>Design: An ability to design computer based systems, components, or processes to meet the desire
                                    requirement.</td>



                            <tr>
                                <td> PLO5</td>
                                <td>Problem Solving: An ability to apply mathematical foundations, simulation, algorithmic principles,
                                    and computer science theory in the modeling and design of computer-based systems in a way that
                                    demonstrates comprehension of the tradeoffs involved in design choices.</td>

                            <tr>
                                <td>PLO6</td>
                                <td> Implementation: An ability to apply design and development principles in the construction of
                                    software systems of varying complexity.</td>

                            </tr>
                            <tr>
                                <td> PLO7</td>
                                <td>Experiment and Analysis: An ability to conduct standard tests and measurements; to conduct,
                                    analyze, and interpret experiments; and to apply experimental results to improve solutions
                                    (products or processes).</td>

                            </tr>
                            <tr>
                            <tr>
                                <td> PLO8</td>
                                <td>Community Engagement and Engineering: An ability to appreciate human behavior, culture,
                                    interaction and organization through studies in the humanities and social sciences. A knowledge of
                                    the impact of computing solutions in a local and global context.</td>

                            <tr>
                                <td>PLO9</td>
                                <td> Teamwork: An ability to function effectively as a member or leader of a technical team to
                                    accomplish common goals.</td>

                            </tr>
                            <tr>
                                <td> PLO10</td>
                                <td>Communication: An ability to apply written and oral communication in both technical and non-
                                    technical environments; an ability to communicate with a range of audience; and an ability to
                                    identify and use appropriate available technical literature.</td>

                            </tr>
                            <tr>
                            <tr>
                                <td> PLO11</td>
                                <td>Self-Motivated: Recognition of the need for and an ability to engage in self-directed continuing
                                    professional development; prepared to enter a top-ranked graduate program in Computer Science
                                    and Engineering.</td>

                            <tr>
                                <td>PLO12</td>
                                <td>Ethics: An understanding of and a commitment to address professional, ethical, legal, security, social
                                    issues and responsibilities including a respect for diversity.</td>

                            </tr>
                            <tr>
                                <td> PLO13</td>
                                <td>Process Management: A commitment to quality, timeliness, and continuous improvement.</td>

                            </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

            </div>
            <div class="customers">
                <div class="card">
                    <div class="card-header">
                        <h3>Department_Wise PLO</h3>
                        <button> Go to IRAS <span class="las.la-arrow-right"></span></button>
                    </div>
                    <div class="card-body">

                        Vertical graph

                    </div>

    </main>
</div>

</body>

</html>
