<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SPM Independent University,Dhaka </title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->


    <link rel="stylesheet" href="/faculty.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>

<body>
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="lab la-accusoft"> </span> <span> SPM</span></h2>

    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/Faculty" class="active"><span class="las la-igloo"></span>
                    <span>Student Performance Monitor</span></a>
            </li>
            <li>
                <a href="/facultyCourses"><span class="las la-school"></span>
                    <span> My Courses</span></a>
            </li>
            <li>
                <a href="/facultyDataEntry"><span class="las la-database"></span>
                    <span> Data Entry</span></a>
            </li>

            <li>
                <a href="/facultyStudentReport"><span class="las la-clipboard-list"></span>
                    <span> Department Student Report</span></a>
            </li>

            <li>
                <a href="/facultyDownloads"><span class="las la-download"></span>
                    <span> Downloads</span></a>
            </li>
            <li>
                <a href="/facultyMyAccount"><span class="las la-user"></span>
                    <span> My Account </span></a>
            </li>
            <li>
                <a href="/login"><span class="las la-sign-out-alt"></span>
                    <span> Sign-Out</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Dashboard
        </h2>
        <div class="user-wrapper">
            <img src="{{FacultyProfile}}" alt="Sadita ahmed" width="30px" height="30px"></a>
            <div>
                <h4>{{F_fname}} {{F_lName}} </h4>
                <!--        <small> 100001 </small>-->
                <small> {{FacultyID}} Lecturer, {{DepartmentID}}</small>
            </div>
        </div>
    </header>
    <main>
        <div style="width: 1350px; height: 500px;display: inline-block;" class="chart">
            <canvas id="CourseWisePLO" width="1350" height="500"></canvas>
        </div>


        <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3> Program Learning Outcomes (PLO) for Department of CSE</h3>
                        <button> See Courses <span class="las.la-arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <table width="100%">

                            <thead>
                            <tr>
                                <td> PLO1:</td>
                                <td> Knowledge: {{#each sem}}{{this}}{{/each}}An ability to select and apply the
                                    knowledge, techniques, skills, and modern tools of the
                                    computer science and engineering discipline.
                                </td>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>PLO2:</td>
                                <td>Requirement Analysis: An ability to identify, analyze, and solve a problem by
                                    defining the
                                    computing requirements of the problem through effectively gathering of the actual
                                    requirements.
                                </td>


                            </tr>
                            <tr>
                                <td> PLO3</td>
                                <td>Problem Analysis: An ability to select and apply the knowledge of mathematics,
                                    science,
                                    engineering, and technology to computing problems that require the application of
                                    principles and
                                    applied procedures or methodologies.
                                </td>

                            </tr>
                            <tr>
                                <td> PLO4</td>
                                <td>Design: An ability to design computer based systems, components, or processes to
                                    meet the desire
                                    requirement.
                                </td>


                            <tr>
                                <td> PLO5</td>
                                <td>Problem Solving: An ability to apply mathematical foundations, simulation,
                                    algorithmic principles,
                                    and computer science theory in the modeling and design of computer-based systems in
                                    a way that
                                    demonstrates comprehension of the tradeoffs involved in design choices.
                                </td>

                            <tr>
                                <td>PLO6</td>
                                <td> Implementation: An ability to apply design and development principles in the
                                    construction of
                                    software systems of varying complexity.
                                </td>

                            </tr>
                            <tr>
                                <td> PLO7</td>
                                <td>Experiment and Analysis: An ability to conduct standard tests and measurements; to
                                    conduct,
                                    analyze, and interpret experiments; and to apply experimental results to improve
                                    solutions
                                    (products or processes).
                                </td>

                            </tr>
                            <tr>
                            <tr>
                                <td> PLO8</td>
                                <td>Community Engagement and Engineering: An ability to appreciate human behavior,
                                    culture,
                                    interaction and organization through studies in the humanities and social sciences.
                                    A knowledge of
                                    the impact of computing solutions in a local and global context.
                                </td>

                            <tr>
                                <td>PLO9</td>
                                <td> Teamwork: An ability to function effectively as a member or leader of a technical
                                    team to
                                    accomplish common goals.
                                </td>

                            </tr>
                            <tr>
                                <td> PLO10</td>
                                <td>Communication: An ability to apply written and oral communication in both technical
                                    and non-
                                    technical environments; an ability to communicate with a range of audience; and an
                                    ability to
                                    identify and use appropriate available technical literature.
                                </td>

                            </tr>
                            <tr>
                            <tr>
                                <td> PLO11</td>
                                <td>Self-Motivated: Recognition of the need for and an ability to engage in
                                    self-directed continuing
                                    professional development; prepared to enter a top-ranked graduate program in
                                    Computer Science
                                    and Engineering.
                                </td>

                            <tr>
                                <td>PLO12</td>
                                <td>Ethics: An understanding of and a commitment to address professional, ethical,
                                    legal, security, social
                                    issues and responsibilities including a respect for diversity.
                                </td>

                            </tr>
                            <tr>
                                <td> PLO13</td>
                                <td>Process Management: A commitment to quality, timeliness, and continuous
                                    improvement.
                                </td>

                            </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

            </div>
            <div class="customers">
                <div class="card">
                    <div class="card-header">
                        <h3>Enrollment Analysis</h3>
                        <h3> (2017-Recent) </h3>
                        <button> Go to IRAS <span class="las.la-arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <h3>Program-Wise Enrollment Trend</h3>
                        <div style="width: 300px; height: 300px;display: inline-block;" class="chart">
                            <canvas id="ProgramWise" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

</body>


<!--<script>-->
<!--    //    let myChart = document.getElementById('myChart').getContext('2d');-->

<!--    // Global Options-->
<!--    // Chart.defaults.global.defaultFontFamily = 'Lato';-->
<!--    //    Chart.defaults.global.defaultFontSize = 18;-->
<!--    //    Chart.defaults.global.defaultFontColor = '#777';-->

<!--    //let massPopChart = new Chart(myChart, {-->
<!--    //  type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea-->
<!--    //  data:{-->
<!--    //      datasets:[{-->
<!--    //          // label:['PLO1', 'PLO2', 'PLO3', 'PLO4', 'PLO5', 'PLO6', 'PLO7', 'PLO8', 'PLO9', 'PLO10', 'PLO11', 'PLO12', 'PLO13'],-->
<!--    //          label:[' '],-->
<!--    //          data: [80,70,85,50,64,49,50,66,65,43,52,46,75],-->
<!--    //          //backgroundColor:'green',-->
<!--    //          backgroundColor: [-->
<!--    //              'rgba(255, 99, 132, 0.6)',-->
<!--    //              'rgba(54, 162, 235, 0.6)',-->
<!--    //              'rgba(255, 206, 86, 0.6)',-->
<!--    //              'rgba(75, 192, 192, 0.6)',-->
<!--    //              'rgba(153, 102, 255, 0.6)',-->
<!--    //            'rgba(255, 159, 64, 0.6)',-->
<!--    ////              'rgba(233, 144, 126, 1)',-->
<!--    //              'rgba(67, 11, 41, 0.88)',-->
<!--    //              'rgba(233, 6, 126, 1)',-->
<!--    //              'rgba(255, 206, 86, 0.6)',-->
<!--    //              'rgba(75, 192, 192, 0.6)',-->
<!--    //              'rgba(153, 102, 255, 0.6)',-->
<!--    //              'rgba(55, 164, 236, 1)'-->
<!--    //          ],-->
<!--    //          borderWidth:1,-->
<!--    //          borderColor:'#777',-->
<!--    //          hoverBorderWidth:3,-->
<!--    //          hoverBorderColor:'#000'-->
<!--    //      }],-->
<!--    //      labels: [-->
<!--    //          'PLO1', 'PLO2', 'PLO3', 'PLO4', 'PLO5', 'PLO6', 'PLO7', 'PLO8', 'PLO9', 'PLO10', 'PLO11', 'PLO12', 'PLO13'-->
<!--    //      ]-->
<!--    //  },-->
<!--    //  options:{-->
<!--    //      scales: {-->
<!--    //          ticks: {-->
<!--    //              min: 0-->
<!--    //          },-->
<!--    //          yAxes: [{-->
<!--    //              ticks: {-->
<!--    //                  beginAtZero: true-->
<!--    //              }-->
<!--    //          }]},-->
<!--    //      title:{-->
<!--    //          display:true,-->
<!--    //          text:'Average PLO of Courses',-->
<!--    //          fontSize:25-->
<!--    //      },-->
<!--    //      legend:{-->
<!--    //          display:true,-->
<!--    //          position:'right',-->
<!--    //          labels:{-->
<!--    //              fontColor:'#000'-->
<!--    //          }-->
<!--    //      },-->
<!--    //      layout:{-->
<!--    //          padding:{-->
<!--    //              left:50,-->
<!--    //              right:0,-->
<!--    //              bottom:0,-->
<!--    //              top:0-->
<!--    //          }-->
<!--    //      },-->
<!--    //      tooltips:{-->
<!--    //              enabled:true-->
<!--    //            }-->
<!--    //        }-->
<!--    //    });-->
<!--</script>-->
<!--&lt;!&ndash;enrollment&ndash;&gt;-->
<!--<script>-->

<!--    //  let myChartt = document.getElementById('myChartt').getContext('2d');-->

<!--    // Global Options-->
<!--    //    Chart.defaults.global.defaultFontFamily = 'Lato';-->
<!--    //  Chart.defaults.global.defaultFontSize = 18;-->
<!--    //Chart.defaults.global.defaultFontColor = '#777';-->

<!--    //    let massPopChart2 = new Chart(myChart, {-->
<!--    //        type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea-->
<!--    //        data:{-->
<!--    //            labels:['Autumn', 'Summer', 'Spring'],-->
<!--    //           datasets:[{-->
<!--    //                label:'Enrollment Trends',-->
<!--    //                data:[-->
<!--    //                   178,-->
<!--    //                181,-->
<!--    //                185,-->
<!--    //            ],-->
<!--    //            //backgroundColor:'green',-->
<!--    //            backgroundColor:[-->
<!--    //                'rgba(255, 99, 132, 0.6)',-->
<!--    //                'rgba(54, 162, 235, 0.6)',-->
<!--    //                'rgba(255, 206, 86, 0.6)',-->
<!--    //                //'rgba(75, 192, 192, 0.6)',-->
<!--    //                //'rgba(153, 102, 255, 0.6)',-->
<!--    //                //'rgba(255, 159, 64, 0.6)',-->
<!--    //                //'rgba(255, 99, 132, 0.6)'-->
<!--    //            ],-->
<!--    //            borderWidth:12,-->
<!--    //            borderColor:'#777',-->
<!--    //            hoverBorderWidth:3,-->
<!--    //            hoverBorderColor:'#000'-->
<!--    //        }]-->
<!--    //    },-->
<!--    //    options:{-->
<!--    //        title:{-->
<!--    //            display:true,-->
<!--    //            text:'Student Enrollment Trend',-->
<!--    //            fontSize:25-->
<!--    //        },-->
<!--    //        legend:{-->
<!--    //            display:true,-->
<!--    //            position:'right',-->
<!--    //            labels:{-->
<!--    //                fontColor:'#000'-->
<!--    //            }-->
<!--    //        },-->
<!--    //        scales: {-->
<!--    //            ticks: {-->
<!--    //                min: 0-->
<!--    //            }-->
<!--    //        },-->
<!--    //        layout:{-->
<!--    //            padding:{-->
<!--    //                left:700,-->
<!--    //                right:0,-->
<!--    //                bottom:0,-->
<!--    //                top:0-->
<!--    //            }-->
<!--    //        },-->
<!--    //        tooltips:{-->
<!--    //            enabled:true-->
<!--    //        }-->
<!--    //    }-->
<!--    //});-->
<!--</script>-->

//Active graph
<script>
    let CchartName = ['PLO1', 'PLO2', 'PLO2', 'PLO4', 'PLO5', 'PLO6', 'PLO7', 'PLO8', 'PLO9', 'PLO10', 'PLO11', 'PLO12', 'PLO13',];
    let CchartLabel = [80, 70, 85, 50, 64, 49, 50, 66, 65, 43, 52, 46, 75];
    barChart("CourseWisePLO", "Course Student Performance", CchartName, CchartLabel)


    function barChart(ctx,
                      labelName,
                      labelList,
                      dataList,
                      bdcolor = '#094480',
                      bgcolor = '#33C7FF') {
        //Chart.defaults.global.defaultFontFamily = "Oxygen";
        Chart.defaults.global.defaultFontColor = "black";

        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: labelList,
                datasets: [{
                    label: labelName,
                    backgroundColor: bgcolor,
                    borderColor: bdcolor,
                    data: dataList
                }]
            },

            // Configuration options go here
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    let PchartName = [{{#each program}}"{{this}}",{{/each}}];
    let PchartLabel = [{{#each countStudents}}{{this}},{{/each}}];
    pieChart("ProgramWise", "Program Wise Student Enrollment", PchartName, PchartLabel)

    function pieChart(ctx,
                      labelName,
                      labelList,
                      dataList,
                      bdcolor = '#094480',
                      bgcolor = [
                          'rgb(255, 99, 132)',
                          'rgb(54, 162, 235)',
                          'rgb(255, 205, 86)'
                      ]) {
        Chart.defaults.global.defaultFontColor = "black";
        let chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labelList,
                datasets: [{
                    label: labelName,
                    backgroundColor: bgcolor,
                    borderColor: bdcolor,
                    data: dataList,
                    borderWidth: [1, 1, 1, 1, 1],
                    hoverOffset: 10,
                }],

            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    position: "top",
                    text: "Pie Chart",
                    fontSize: 18,
                    fontColor: "#111"
                },
                legend: {
                    display: true,
                    position: "bottom",
                    labels: {
                        fontColor: "#333",
                        fontSize: 12
                    }
                }
            }
        })

    }

    //
    // var chart = new CanvasJS.Chart("chartContainer4",
    //         {
    //             animationEnabled: true,
    //             title: {
    //                 text: "Column Chart"
    //             },
    //             axisX: {
    //                 interval: 10,
    //             },
    //             data: [
    //                 {
    //                     type: "column",
    //                     legendMarkerType: "triangle",
    //                     legendMarkerColor: "green",
    //                     color: "rgba(255,12,32,.3)",
    //                     showInLegend: true,
    //                     legendText: "Country wise population",
    //                     dataPoints: [
    //                         {x: 10, y: 297571, label: "India"},
    //                         {x: 20, y: 267017, label: "Saudi"},
    //                         {x: 30, y: 175200, label: "Canada"},
    //                         {x: 40, y: 154580, label: "Iran"},
    //                         {x: 50, y: 116000, label: "Russia"},
    //                         {x: 60, y: 97800, label: "UAE"},
    //                         {x: 70, y: 20682, label: "US"},
    //                         {x: 80, y: 20350, label: "China"}
    //                     ]
    //                 },
    //             ]
    //         });
    // chart.render();
</script>


<!--<script>-->
<!--  $(function () {-->
<!--    var plo = document.getElementById("layanan_subbagian").getContext('2d');-->
<!--    var data_2 = {-->
<!--      datasets: [{-->
<!--        data: [80,70,85,50,64,49,50,66,65,43,52,46,75],-->
<!--        backgroundColor: [-->
<!--          'rgba(255, 99, 132, 0.6)',-->
<!--          'rgba(54, 162, 235, 0.6)',-->
<!--          'rgba(255, 206, 86, 0.6)',-->
<!--          'rgba(75, 192, 192, 0.6)',-->
<!--          'rgba(153, 102, 255, 0.6)',-->
<!--          'rgba(255, 159, 64, 0.6)',-->
<!--          'rgba(233, 144, 126, 1)',-->
<!--          'rgba(67, 11, 41, 0.88)',-->
<!--          'rgba(233, 6, 126, 1)',-->
<!--          'rgba(255, 206, 86, 0.6)',-->
<!--          'rgba(75, 192, 192, 0.6)',-->
<!--          'rgba(153, 102, 255, 0.6)',-->
<!--          'rgba(55, 164, 236, 1)'-->
<!--        ],-->
<!--      }],-->
<!--      labels: [-->
<!--        'PLO1', 'PLO2', 'PLO3', 'PLO4', 'PLO5', 'PLO6', 'PLO7', 'PLO8', 'PLO9', 'PLO10', 'PLO11', 'PLO12', 'PLO13'-->
<!--      ]-->
<!--    };-->
<!--    var myDoughnutChart_2 = new Chart(plo, {-->
<!--      type: 'bar',-->
<!--      data: data_2,-->
<!--      options: {-->
<!--        title:{-->
<!--          display:true,-->
<!--          text:'Average PLO',-->
<!--          fontSize:25-->
<!--        },-->

<!--        layout:{-->
<!--          padding:{-->
<!--            left:50,-->
<!--            right:0,-->
<!--            bottom:0,-->
<!--            top:10-->
<!--          }-->
<!--        },-->
<!--        responsive: true,-->
<!--        maintainAspectRatio: false,-->
<!--        legend: {-->
<!--          position: 'bottom',-->
<!--          labels: {-->
<!--            boxWidth: 15,-->
<!--            fontColor:'#000'-->

<!--          }-->
<!--        }-->
<!--      }-->
<!--    });-->
<!--  });-->


<!--</script>-->
</html>
