<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SPM Independent University,Dhaka  </title>
    <link rel="stylesheet" href = "/facultyStudentReport.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href =  "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>

<body>
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2> <span class="lab la-accusoft"> </span> <span> SPM</span></h2>
        <p>

        </p>
    </div>
    <div class="sidebar-menu">

        <ul>
            <li>
                <a href="/Faculty" ><span class="las la-igloo "></span>
                    <span>Student Performance Monitor</span></a>
            </li>
            <li>
                <a href="/facultyCourses"><span  class="las la-school"></span>
                    <span> My Courses</span></a>
            </li>
            <li>
                <a href="/facultyDataEntry"><span class="las la-database"></span>
                    <span> Data Entry</span></a>
            </li>

            <li>
                <a href="/facultyStudentReport" class="active"><span class="las la-clipboard-list"></span>
                    <span> Department Student Report</span></a>
            </li>

            <li>
                <a href="/facultyDownloads"><span class="las la-download"></span>
                    <span> Downloads</span></a>
            </li>
            <li>
                <a href="/facultyMyAccount"><span class="las la-user"></span>
                    <span> My Account </span></a>
            </li>
            <li>
                <a href="/login"><span class="las la-sign-out-alt"></span>
                    <span> Sign-Out</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Dashboard
        </h2>
        <div class="user-wrapper">
            <img src="{{FacultyProfile}}" alt="Sadita ahmed" width="30px" height="30px"></a>
            <div>
                <h4>{{F_fname}} {{F_lName}} </h4>
                <!--        <small> 100001 </small>-->
                <small> Lecturer, {{DepartmentID}}</small>
            </div>
        </div>
    </header>
    <main>
        <div>
            <h2>Individual Student Overall Progress </h2>

            <div style="width: 600px; height: 400px;display: inline-block;" class="chart">
                <canvas id="radar" width="600" height="400"></canvas>
            </div>


        </div>
    </main>
</div>
<script>
    radarChart("radar")
    function radarChart(ctx) {
        Chart.defaults.global.defaultFontFamily = "Oxygen";
        Chart.defaults.global.defaultFontColor = "black";
        var chart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: [
                    {{#each PLONo}}"PLO{{this}}",{{/each}}
                ],
                datasets: [{
                    label: 'Achieved PLO',
                    data: [{{#each PLOpercentage}}{{this}},{{/each}}],
                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                },
                //     {
                //     label: 'Attempted',
                //     data: [100,100,100,100,100,100,100,100,100],
                //     fill: true,
                //     backgroundColor: 'rgba(54, 162, 235, 0.2)',
                //     borderColor: 'rgb(54, 162, 235)',
                //     pointBackgroundColor: 'rgb(54, 162, 235)',
                //     pointBorderColor: '#fff',
                //     pointHoverBackgroundColor: '#fff',
                //     pointHoverBorderColor: 'rgb(54, 162, 235)'
                // }
                ]
            },
            options: {
                elements: {
                    line: {
                        borderWidth: 3
                    }
                }
            },
        });
    }


</script>
</body>

</html>
